<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>hotelreserve</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">hotelreserve</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list>
    <ion-item>
      <ion-input label="Number of Days" labelPlacement="floating" placeholder=""></ion-input>
    </ion-item>
   <br>
   <ion-item>
     <ion-input label="Full Name" labelPlacement="floating" placeholder=""></ion-input>
    </ion-item>
    
    <br>
    <br>
    <ion-item>
      <ion-input label="Phone" labelPlacement="floating" placeholder=""></ion-input>
    </ion-item>
    
  
  </ion-list>
  <div style="text-align: right;"><a href="#">Save</a></div>
  <div style="text-align: right;"><a href="#">Cancel</a></div>
  <div style="text-align: right;"><a href="#"></a></div>
</ion-content>

